@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
	padding: 0px;
	margin: 0px;
}

section {
	display: flex;
	justify-content: center;
}

section.topo {
	width: 99vw;
	height: 10vh;
	z-index: 2;
	background: radial-gradient(#660000,#FF0000);
	margin-left: 0.5vw;
	border-radius: 5px;
}

#logo {
	width: 15%;
	min-height: 100%;
}

#logo img {
	min-width: 25%;
	height: 100%;
}

#logo a {
	padding-left: auto;
}

#nome {
	width: 25%;
	height: 100%;
}

#nome h1 {
	color: white;
	font-size: 1.8em;
	padding-top: 1%;
	font-family: 'Manrope', sans-serif;
}

#nome h1 span {
	color: yellow;
	font-size: 2.2em;
	font-family: monospace;
	font-family: 'Tilt Prism', cursive;
}

#busca {
	width: 30%;
	height: 100%;
}

#none {
	width: 30%;
	height: 100%;
}

form.busca {
	width: 100%;
	height: 100%;
	padding-top:10%;
}

#links {
	width: 25%;
	height: 100%;
}

ul.nav {
	list-style-type: none;
	margin-top:10%;
}

ul.nav li {
	float:left;
	margin-left: 5%;
/*	border-right: 1px solid white;*/
}

ul.nav li.cpf {
	color: yellow;
	font-family: 'Manrope', sans-serif;
	float:left;
	margin-left: 5%;
}

ul.nav li a.admin {
	color: yellow;
	float:left;
	margin-left: 5%;
}

ul.nav li a {
	text-decoration: none;
	color:white;
	font-family:monospace;
}

section.conteudo {
	width: 100vw;
	height: 78vh;
	z-index: 1;
}

#quadro {
	width: 100%;
	height: 100%;
	border:0px;
}

section.rodape {
	width: 99%;
	height: 8vh;
	margin-left: 0.5vw;
	background: radial-gradient(#660000,#FF0000);
	border-radius: 5px;
	z-index: 2;
	color:white;
}

#sobre {
	text-align: center;
	width: 50%;
	height: 100%;
	font-family:monospace;
	border-right:1px double white;
}

#desenvolvida {
	text-align: center;
	width: 50%;
	height: 100%;
}

#desenvolvida p {
	font-family: cursive;
	padding-top: 2.5%;
}

form.normal {
	color: white;
	text-align: center;
	width: 60vw;
	margin-left: 20vw;
	min-height: 15vh;
	border: 1px solid yellow;
	border-radius: 22px;
	background: radial-gradient(#660000,#FF0000);
	font-family: monospace;
}

form.normal h1 {
	font-family: 'Manrope', sans-serif;
}

form.normal p {
	text-align: center;
	color: white;
	font-size: 25px;
	padding-top: 5px;
	font-family: 'Manrope', sans-serif;
}

textarea {
	text-align: center;
	color: black;
	font-family: 'Manrope', sans-serif;
	width: 32vw;
	resize: none;
}

h2 {
	text-align: center;
	color: red;
	font-family: 'Manrope', sans-serif;
}

#entrar {
	max-width: 20vw;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

#entrar a {
	justify-content: center;
	text-decoration: none;
	font-family: 'Manrope', sans-serif;
	font-size: 20px;
}

input.logar {
	color: black;
	padding: 10px;
	width: 20vw;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

input.mais {
	color: black;
	padding: 10px;
	width: 20vw;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

form.normal input {
	padding: 10px;
	margin-top: 20px;
	width: 30vw;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#produto {
	width: 10%;
	height: 40%;
	margin-left: 2%;
	margin-top: 10px;
	border: 1px solid red;
	text-align: center;
}

#produto img {
	width: 90%;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

input.ver {
	text-align: center;
	font-family: 'Manrope', sans-serif;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
	color: red;
	font-size: 15px;
}

#produto p {
	font-size: 20px;
	font-family: 'Manrope', sans-serif;
}

table {
	width: 90vw;
	min-height: 15vh;
	margin-left: 5vw;
	margin-top: 10vh;
	border: 2px inset red;
}

table th {
	background: red;
	color: white;
	font-size: 1.2em;
	border: 1px solid white;
	font-family: 'Manrope', sans-serif;
}

table td {
	border: 1px solid red;
	text-align: center;
	font-family: 'Manrope', sans-serif;
}

table td img {
	width: 60px;
	height: 60px;
}

section.detalhes {
	width: 40vw;
	min-height: 15vh;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid red;
}

#img_produto {
	width: 40%;
	height: 100%;
	margin-left: 5%;
	margin-right: 5%;
}

#img_produto img {
	width: 200px;
	height: 200px;
}

#campos {
	width: 40%;
	height: 100%;
	text-align: center;
}

#campos h1 {
	padding-top: 5%;
	font-family: 'Manrope', sans-serif;
	color: red;
}

#campos p {
 	padding-top: 2%;
 	color: orange;
 	font-size: 1.3em;
 	font-family: 'Manrope', sans-serif;
}

section.descricao {
	width: 60vw;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background: radial-gradient(#660000,#FF0000);
	font-family: 'Manrope', sans-serif;
}

img.img_car{
	width: 50px;
	height: 50px;
}

@media (max-width: 1200px){

	#logo {
		width: 3%;
		min-height: 100%;
		margin-right: auto;
		margin-left: 5%;
	}

	#logo img {
		min-width: 5%;
		height: 100%;
	}

	#busca {
		width: 30%;
		height: 100%;
		margin-bottom: auto;
	}

	#none {
		width: 20%;
		height: 100%;
	}

	#nome h1 {
		color: white;
		font-size: 25px;
		padding-top: 1%;
		font-family: 'Manrope', sans-serif;
	}

	#nome h1 span {
		color: yellow;
		font-size: 1.8em;
		font-family: 'Tilt Prism', cursive;
	}

		#produto {
		width: 80px;
/*		height: 40px;*/
		margin-left: 2%;
		margin-top: 10px;
		border: 1px solid red;
		text-align: center;
	}

	#produto img {
		width: 70px;
		height: 70px;
		margin-left: auto;
		margin-right: auto;
	}

	input.ver {
		text-align: center;
		font-family: 'Manrope', sans-serif;
		padding: 3px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: white;
		color: red;
		font-size: 10px;
	}

	h2 {
		text-align: center;
		color: red;
		font-family: 'Manrope', sans-serif;
		font-size: 10px;
	}

	#produto p {
		font-size: 10px;
		font-family: 'Manrope', sans-serif;
}

}

@media (max-width: 860px){

	#logo {
		width: 20px;
		min-height: 100%;
		margin-right: auto;
		margin-left: 3%;
	}

	#logo img {
		min-width: 3%;
		height: 100%;
	}

	#busca {
		width: 30%;
		height: 100%;
		margin-bottom: auto;
	}

	#none {
		width: 20%;
		height: 100%;
	}

	#nome h1 {
		color: white;
		font-size: 20px;
		padding-top: 1%;
		font-family: 'Manrope', sans-serif;
	}

	#nome h1 span {
		color: yellow;
		font-size: 1.8em;
		font-family: 'Tilt Prism', cursive;
	}

	#produto {
		width: 200px;
/*		height: 40px;*/
		margin-left: 1%;
		margin-top: 10px;
		border: 1px solid red;
		text-align: center;
	}

	#produto img {
		width: 100px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
	}

	input.ver {
		text-align: center;
		font-family: 'Manrope', sans-serif;
		padding: 6px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: white;
		color: red;
		font-size: 15px;
	}

	h2 {
		text-align: center;
		color: red;
		font-family: 'Manrope', sans-serif;
		font-size: 15px;
	}

	#produto p {
		font-size: 15px;
		font-family: 'Manrope', sans-serif;
}

}

@media (max-width: 680px){

	#logo {
		width: 3%;
		min-height: 100%;
		margin-right: auto;
		margin-left: 3%;
	}

	#logo img {
		min-width: 5%;
		height: 100%;
	}

	#busca {
		width: 30%;
		height: 100%;
		margin-bottom: auto;
	}

	#none {
		width: 20%;
		height: 100%;
	}

	#nome h1 {
		color: white;
		font-size: 18px;
		padding-top: 1%;
		font-family: 'Manrope', sans-serif;
	}

	#nome h1 span {
		color: yellow;
		font-size: 1.8em;
		font-family: 'Tilt Prism', cursive;
	}

	#produto {
		width: 200px;
/*		height: 40px;*/
		margin-left: 1%;
		margin-top: 10px;
		border: 1px solid red;
		text-align: center;
	}

	#produto img {
		width: 100px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
	}

	input.ver {
		text-align: center;
		font-family: 'Manrope', sans-serif;
		padding: 6px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: white;
		color: red;
		font-size: 15px;
	}

	h2 {
		text-align: center;
		color: red;
		font-family: 'Manrope', sans-serif;
		font-size: 15px;
	}

	#produto p {
		font-size: 15px;
		font-family: 'Manrope', sans-serif;
}

}

@media (max-width: 415px){

	#logo {
		width: 20px;
		min-height: 50px;
		margin-right: auto;
		margin-left: 3%;
	}

	#logo img {
		min-width: 15px;
		height: 80px;
	}

	#busca {
		width: 10%;
		height: 100%;
		margin-bottom: auto;
	}

	form.busca {
		width: 10%;
		height: 100%;
		padding-top:10%;
	}

	#none {
		width: 20%;
		height: 100%;
	}

	#nome h1 {
		color: white;
		font-size: 15px;
		padding-top: 1%;
		font-family: 'Manrope', sans-serif;
	}

	#nome h1 span {
		color: yellow;
		font-size: 1.8em;
		font-family: 'Tilt Prism', cursive;
	}

		#produto {
		width: 80px;
/*		height: 40px;*/
		margin-left: 2%;
		margin-top: 10px;
		border: 1px solid red;
		text-align: center;
	}

	#produto img {
		width: 70px;
		height: 70px;
		margin-left: auto;
		margin-right: auto;
	}

	input.ver {
		text-align: center;
		font-family: 'Manrope', sans-serif;
		padding: 3px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: white;
		color: red;
		font-size: 10px;
	}

	h2 {
		text-align: center;
		color: red;
		font-family: 'Manrope', sans-serif;
		font-size: 10px;
	}

	#produto p {
		font-size: 10px;
		font-family: 'Manrope', sans-serif;
}

}

@media (max-width: 380px){

	#logo {
		width: 10px;
		min-height: 30px;
		margin-right: auto;
		margin-left: 3%;
	}

	#logo img {
		min-width: 10px;
		height: 60px;
	}

	#busca {
		width: 20%;
		height: 10%;
	}

	form.busca {
		width: 0%;
		height: 0%;
	}

	#none {
		width: 20%;
		height: 100%;
	}

	#nome h1 {
		color: white;
		font-size: 15px;
		padding-top: 1%;
		font-family: 'Manrope', sans-serif;
	}

	#nome h1 span {
		color: yellow;
		font-size: 1.8em;
		font-family: 'Tilt Prism', cursive;
	}

	#produto {
		width: 80px;
/*		height: 40px;*/
		margin-left: 2%;
		margin-top: 10px;
		border: 1px solid red;
		text-align: center;
	}

	#produto img {
		width: 70px;
		height: 70px;
		margin-left: auto;
		margin-right: auto;
	}

	input.ver {
		text-align: center;
		font-family: 'Manrope', sans-serif;
		padding: 3px;
		padding-left: 10px;
		padding-right: 10px;
		background-color: white;
		color: red;
		font-size: 10px;
	}

	h2 {
		text-align: center;
		color: red;
		font-family: 'Manrope', sans-serif;
		font-size: 10px;
	}

	#produto p {
		font-size: 10px;
		font-family: 'Manrope', sans-serif;
}

}